body {
  font: 16px sans-serif; 
  background-color: #e2e2e2dc;
  margin: 0;
  padding: 0;
}

.title-container {
  padding: 20px 40px 10px 40px; /* Top, Right, Bottom, Left */
}

.title-container h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}

.title-container p {
  font-size: 15px;
  color: #444;
  line-height: 1.6;
  max-width: none;
  margin: 0;
  margin-bottom: 24px
  
}

.controls {
  padding: 0 40px;
  margin-top: -20px; 
}

.slider-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 600px;
  margin-top: 10px;
}

input[type="range"] {
  flex: 1;
  width: 600px; 
  height: 6px;
}

button {
  padding: 6px 14px;
  font-size: 12px;
  cursor: pointer;
  align-items: center;
}

#year-label {
  font-size: 15px;
  margin-bottom: 10px;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
}

.legend-bin {
  cursor: pointer;
  stroke-width: 1;
  transition: stroke-width 0.2s;
}

.legend-bin:hover,
.legend-bin.active {
  stroke-width: 3;
  stroke: #333;
}

path {
  cursor: pointer;
}

.map-chart-wrapper {
  display: flex;
  flex-wrap: wrap; /* allow wrapping on small screens */
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
#map {
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  display: block;
}
#map-container {
  flex: 1;
  min-width: 450px;
}
#legend-container {
  flex: 0 0 auto;
  width: 100%;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: -70px;
}
#legend-container svg {
  width: 100%;
  height: auto;
  padding-bottom: -70px;
}
#clear-filters-button {
  width: auto;
  white-space: nowrap; /* prevents button text wrapping */
  text-align: center;
  margin-top: -70px;     /* moves it upward */
  margin-right: 60px;    
}


/* Resize line chart area */
#line-chart-container {
  flex: 1;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  background-color: white;
  align-items: center;
  justify-content: center;
}

#unselect-button {
  position: static;
  margin-top: 20px;
  font-size: 16px;
  /* margin-top: 10px;    
  margin-left: 20px;    shifts it to the left */
}
#unselect-wrapper {
  width: fit-content;
  margin: 0 auto;
  margin-top: -10px;
  padding-left: 215px;
  padding-bottom: 30px;
  /* padding-left: 60px; ⬅ aligns with left margin of the chart */
}

path.selected {
  fill: #F0E68C !important;
  stroke: #FFFFC5;
  stroke-width: 2.5;
  filter: url(#selected-glow); /* more intense glow */
}

/* Accessibility classes - hidden alt text summaries for charts for map and line chart */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}